footer.site-footer {
    padding: 20px 0 var(--section-separation) 0;
    font-size: 1.4rem;
    line-height: 1.75;

    &:before {
        content: "";
        display: block;
        height: 3px;
        width: 50px;
        background: var(--body-text-color);
        margin-bottom: 20px;
    }

    .copyright {
        color: var(--accent-color);
        font-weight: bold;
        margin-bottom: 1px;
    }

    .powerby {
        color: var(--body-text-color);
        font-weight: normal;
        font-size: 1.2rem;

        a {
            color: var(--body-text-color);
        }
    }
}

.running-time {
    color: var(--card-text-color-secondary);//运行时间的文本颜色
    font-weight: normal;

    .running-days {
        font-weight:bold;
        color: var(--accent-color); //复制于版权信息的颜色，使风格一致
    }   
}

//字数统计
.totalcount {
    color: var(--card-text-color-main); //跟文本一样的黑色，夜间模式下也跟着变色
    font-weight: normal;
    margin-bottom: 1px;
    }


//访问统计样式
.my-stats {
  color: var(--card-text-color-secondary);//文本的颜色
  font-weight: normal;
  .pv {
    font-weight: bold;
    color: var(--card-text-color-main) ;// 访问数量的颜色
  }
  .uv {
    font-weight: bold;
    color: var(--card-text-color-main);// 访问人数的颜色
  }
}
//修改一下页脚customText文本的颜色
.custom-text {
  color: var(--card-text-color-main);
}



