// 设置默认标签背景颜色
$defaultTagBackgrounds: #8ea885, #df7988, #0177b8, #ffb900, #6b69d6;
// 设置默认标签文字颜色
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;

/*
*   Global style
*/
:root {
    // 设置所有页面最上面的部件距离网页顶部的间隙长度为 30px
    --main-top-padding: 30px;

    @include respond(xl) {
        // 网页最上面的部件距离网页顶部的间隙长度（大屏幕设备时）
        --main-top-padding: 40px;
    }

    // 整个网页背景颜色
    --body-background: #EAEAEA;

    // 强调色和其深色变体（主要体现在主页左侧菜单栏，定位在那个页面时的颜色，页脚部分也有）
    --accent-color: #000;
    --accent-color-darker: #2c3e50;
    --accent-color-text: #fff;//没用，会被accent-color覆盖
    --body-text-color: #707070;//页面组件文字颜色（包括正文、标题、链接等）

    // 标签和分类的边框半径
    --tag-border-radius: 8px;

    // 调整文章之间的间隙
    --section-separation: 40px;

    // 滚动条样式
    --scrollbar-thumb: hsl(0, 0%, 85%);//定义滚动条滑块的颜色
    --scrollbar-track: var(--body-background);//定义滚动条轨道的颜色
	

    // 暗色模式下的样式设置
    &[data-scheme="dark"] {
        --body-background: #303030;
        --accent-color: #ecf0f1;
        --accent-color-darker: #bdc3c7;
        --accent-color-text: #000;
        --body-text-color: rgba(255, 255, 255, 0.7);
        --scrollbar-thumb: hsl(0, 0%, 40%);
        --scrollbar-track: var(--body-background);
    }
}


/**
*   Global font family 全局字体系列
*/
:root {
	/**
	* 系统字体系列
	*/
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
	/**
	* 中文字体系列
	*/
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
	/**
	* 基础字体系列
	* 使用系统字体系列作为基础，并添加中文字体系列和 sans-serif 作为备用
	*/
    --base-font-family: "LXGW WenKai", "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
	/**
	* 代码字体系列
	* 使用 Menlo 作为首选，并添加 Monaco、Consolas、"Courier New" 和中文字体系列作为备用
	*/
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
}

/*
*   卡片样式
*/
:root {
    /* 卡片背景颜色 */
    --card-background: #fff;
    /* 选中卡片的背景颜色 */
    --card-background-selected: #eaeaea;

    /* 卡片主要文本颜色 */
    --card-text-color-main: #000;
    /* 卡片次要文本颜色 */
    --card-text-color-secondary: #747474;
    /* 卡片第三文本颜色 */
    --card-text-color-tertiary: #767676;
    /* 卡片分隔线颜色 */
    --card-separator-color: rgba(218, 218, 218, 0.5);

    /* 卡片边框半径 */
    --card-border-radius: 10px;

    /* 卡片填充 */
    --card-padding: 20px;

    /* 中等屏幕上的卡片填充 */
    @include respond(md) {
        --card-padding: 25px;
    }

    /* 超大屏幕上的卡片填充 */
    @include respond(xl) {
        --card-padding: 30px;
    }

    /* 小卡片填充 */
    --small-card-padding: 25px 20px;

    /* 中等屏幕上的小卡片填充 */
    @include respond(md) {
        --small-card-padding: 25px;
    }

    /* 暗模式下的卡片样式 */
    &[data-scheme="dark"] {
        --card-background: #424242;
        --card-background-selected: rgba(255, 255, 255, 0.16);
        --card-text-color-main: rgba(255, 255, 255, 0.9);
        --card-text-color-secondary: rgba(255, 255, 255, 0.7);
        --card-text-color-tertiary: rgba(255, 255, 255, 0.5);
        --card-separator-color: rgba(255, 255, 255, 0.12);
    }
}


/**
*   文章内容字体设置
*/
:root {
    /* 文章字体族 */
    --article-font-family: var(--base-font-family);
    /* 文章字体大小 */
    --article-font-size: 1.6rem;

    /* 中等屏幕上的文章字体大小 */
    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    /* 文章行高 */
    --article-line-height: 1.85;
}


/*
*   文章内容样式
*/
:root {
    /* 引用块边框大小 */
    --blockquote-border-size: 4px;
    /* 引用块背景颜色，没用 */
    --blockquote-background-color: rgb(248 248 248);

    /* 标题边框大小 */
    --heading-border-size: 4px;

    /* 链接背景颜色 */
    --link-background-color: 189, 195, 199;
    /* 链接背景透明度 */
    --link-background-opacity: 0.5;
    /* 链接背景悬停时的透明度 */
    --link-background-opacity-hover: 0.7;

    /* 代码块背景颜色，没用 */
    --pre-background-color: #272822;
    /* 代码块文本颜色 */
    --pre-text-color: #f8f8f2;
    /* 代码背景颜色，没用 */
    --code-background-color: rgba(0, 0, 0, 0.12);
    /* 代码文本颜色 */
    --code-text-color: #808080;

    /* 表格边框颜色 */
    --table-border-color: #dadada;
    /* 表格偶数行背景颜色 */
    --tr-even-background-color: #efefee;

    /* 键盘标记边框颜色 */
    --kbd-border-color: #dadada;

    /* 暗模式下的代码块背景颜色 */
    &[data-scheme="dark"] {
        --code-background-color: #272822;
        /* 暗模式下的代码文本颜色 */
        --code-text-color: rgba(255, 255, 255, 0.9);

        /* 暗模式下的表格边框颜色 */
        --table-border-color: #717171;
        /* 暗模式下的表格偶数行背景颜色 */
        --tr-even-background-color: #545454;

        /* 暗模式下的引用块背景颜色 */
        --blockquote-background-color: rgb(75 75 75);
    }
}


/*
*   阴影样式
*   感谢 https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    /* 阴影层1 */
    --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    /* 阴影层2 */
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    /* 阴影层3 */
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    /* 阴影层4 */
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

/* 亮色主题下的代码块样式 */
[data-scheme="light"] {
    --pre-text-color: #272822; //没用
    --pre-background-color: #faf4ed; /* 代码块外围颜色，跟高亮风格一致即可。 */
    @import "partials/highlight/light.scss"; /* 引入亮色主题的代码块样式 */
}

/* 暗色主题下的代码块样式 */
[data-scheme="dark"] {
    --pre-text-color: #f8f8f2; //没用
    --pre-background-color: #faf4ed; /* 代码块背景颜色 ，跟高亮风格一致即可*/
    @import "partials/highlight/dark.scss"; /* 引入暗色主题的代码块样式 */
}

:root {
    --menu-icon-separation: 40px;
    --container-padding: 15px;
    --widget-separation: var(--section-separation);
}


